<h1>Edit <%= @bookmark.title %></h1>

<div class="edit-bookmark">
	<%= render partial: 'form', locals: { topic: @topic, bookmark: @bookmark } %>

	<% if policy(@bookmark).destroy? %>
	  <%= link_to "delete", [@topic, @bookmark], method: :delete %>
	<% end %>
</div>